@{
    ViewData["Title"] = "Products";
}

@{
    var message = TempData["Message"] as string;
}

<div id="toast"></div>
@if (!string.IsNullOrEmpty(message))
{
    if ("Failed".Equals(message))
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                setTimeout(function () {
                    toast({
                        title: "Failed",
                        message: "Oops! Action failed. Please try again.",
                        type: "danger",
                        duration: 3000,
                    });
                }, 600);
            });
        </script>
    }
}

<style>
    .sherah-table-order {
        border: 1px solid #fff;
    }

    #sherah-table__orderv1_filter .form-control {
        padding-left: 8px;
    }

    #sherah-table__orderv1_filter .sherah-data-table-label {
        right: 12px;
        top: 7px;
        font-size: 16px;
    }

    .sherah-table__main.sherah-table__main--orderv1 .sherah-table__body tr {
        background: #F9FAFB;
        border-bottom: #F9FAFB;
    }

    .product-card {
        width: auto;
        height: 50px;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0,0,0,.1);
        background-color: #fff;
    }

        .product-card + .product-card {
            margin-top: 16px;
        }
</style>

<!-- sherah Dashboard -->
<section class="sherah-adashboard sherah-show">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sherah-body">
                    <!-- Dashboard Inner -->
                    <div class="sherah-dsinner">
                        <div class="row">
                            <div class="col-12">
                                <div class="sherah-breadcrumb mg-top-30">
                                    <h2 class="sherah-breadcrumb__title">Warehouse Import</h2>
                                    <ul class="sherah-breadcrumb__list">
                                        <li><a asp-area="" asp-controller="Dashboard" asp-action="Dashboard">Home</a></li>
                                        <li class="active"><a asp-area="" asp-controller="Warehouse" asp-action="WarehouseImport">Warehouse Import</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="sherah-page-inner sherah-border sherah-basic-page sherah-default-bg mg-top-25 p-0">
                            <form class="sherah-wc__form-main" method="post" asp-action="WarehouseImport" asp-controller="Warehouse">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <!-- Product Info -->
                                        <div class="product-form-box sherah-border mg-top-30">
                                            <h4 class="form-title m-0">Basic Information</h4>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">Deliverer</label>
                                                        <div class="form-group__input">
                                                            <input class="sherah-wc__form-input" placeholder="Type here" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">Supplier*</label>
                                                        <select class="form-group__input" aria-label="Default select example">
                                                            <option value="0">Supplier A</option>
                                                            <option value="1">Supplier B</option>
                                                            <option value="2">Supplier C</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">Reason*</label>
                                                        <select class="form-group__input" aria-label="Default select example">
                                                            <option value="0">Import Product(s)</option>
                                                            <option value="1">Import Product(s)</option>
                                                            <option value="2">Import Product(s)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">About Reason</label>
                                                        <div class="form-group__input">
                                                            <textarea class="tinymce" id="description" type="text"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Product Info -->
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <!-- Product List -->
                                        <div class="product-form-box sherah-border mg-top-30">
                                            <div class="sherah-table-order">
                                                <table id="sherah-table__orderv1" class="sherah-table__main sherah-table__main--orderv1" style="border: 1px solid #E2E7F1;">
                                                    <thead class="sherah-table__head" style="display:block;border-bottom:#E2E7F1;">
                                                        <tr>
                                                            <th class="sherah-table__column-1 sherah-table__h1" style="width:25%;font-size:16px;font-weight:bold;padding-right:4px;">Product ID</th>
                                                            <th class="sherah-table__column-2 sherah-table__h2" style="width:38%;min-width:140px;padding-left:8px;font-size:16px;font-weight:bold;">Product name</th>
                                                            <th class="sherah-table__column-3 sherah-table__h3" style="width:24%;text-align:center;font-size:16px;font-weight:bold;">Unit</th>
                                                            <th class="sherah-table__column-4 sherah-table__h4" style="width: 15%;text-align:center;padding-right:24px;font-size:16px;font-weight:bold;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="sherah-table__body" style="display:block;max-height:414.5px;overflow-y:auto;">
                                                        <tr>
                                                            <td class="sherah-table__column-1 sherah-table__data-1" style="width:25%;text-align:center;">
                                                                <p class="sherah-table__product-name--text">1</p>
                                                            </td>
                                                            <td class="sherah-table__column-2 sherah-table__data-2" style="width:37%;max-width:70px;">
                                                                <div class="sherah-table__product-name">
                                                                    <p class="sherah-table__product-name--text"
                                                                       style="display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow: hidden;">
                                                                        Apple 2023 MacBook Pro Laptop M3 Pro
                                                                    </p>
                                                                </div>
                                                            </td>
                                                            <td class="sherah-table__column-3 sherah-table__data-3" style="width:28%;text-align:center;padding-left:16px;">
                                                                <div class="sherah-table__product-content">
                                                                    <p class="sherah-table__product-desc">Piece</p>
                                                                </div>
                                                            </td>
                                                            <td class="sherah-table__column-4 sherah-table__data-4" style="width:15%;">
                                                                <div class="sherah-table__status__group" style="justify-content:center;">
                                                                    <a href="#" class="sherah-table__action sherah-color3 sherah-color3__bg--opactity">
                                                                        <i class="fa-solid fa-plus"></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sherah-table__column-1 sherah-table__data-1" style="width:25%;text-align:center;">
                                                                <p class="sherah-table__product-name--text">1</p>
                                                            </td>
                                                            <td class="sherah-table__column-2 sherah-table__data-2" style="width:37%;max-width:70px;">
                                                                <div class="sherah-table__product-name">
                                                                    <p class="sherah-table__product-name--text"
                                                                       style="display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow: hidden;">
                                                                        Apple 2023 MacBook Pro Laptop M3 Pro
                                                                    </p>
                                                                </div>
                                                            </td>
                                                            <td class="sherah-table__column-3 sherah-table__data-3" style="width:28%;text-align:center;padding-left:16px;">
                                                                <div class="sherah-table__product-content">
                                                                    <p class="sherah-table__product-desc">Piece</p>
                                                                </div>
                                                            </td>
                                                            <td class="sherah-table__column-4 sherah-table__data-4" style="width:15%;">
                                                                <div class="sherah-table__status__group" style="justify-content:center;">
                                                                    <a href="#" class="sherah-table__action sherah-color3 sherah-color3__bg--opactity">
                                                                        <i class="fa-solid fa-plus"></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sherah-table__column-1 sherah-table__data-1" style="width:25%;text-align:center;">
                                                                <p class="sherah-table__product-name--text">1</p>
                                                            </td>
                                                            <td class="sherah-table__column-2 sherah-table__data-2" style="width:37%;max-width:70px;">
                                                                <div class="sherah-table__product-name">
                                                                    <p class="sherah-table__product-name--text"
                                                                       style="display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow: hidden;">
                                                                        Apple 2023 MacBook Pro Laptop M3 Pro
                                                                    </p>
                                                                </div>
                                                            </td>
                                                            <td class="sherah-table__column-3 sherah-table__data-3" style="width:28%;text-align:center;padding-left:16px;">
                                                                <div class="sherah-table__product-content">
                                                                    <p class="sherah-table__product-desc">Piece</p>
                                                                </div>
                                                            </td>
                                                            <td class="sherah-table__column-4 sherah-table__data-4" style="width:15%;">
                                                                <div class="sherah-table__status__group" style="justify-content:center;">
                                                                    <a href="#" class="sherah-table__action sherah-color3 sherah-color3__bg--opactity">
                                                                        <i class="fa-solid fa-plus"></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sherah-table__column-1 sherah-table__data-1" style="width:25%;text-align:center;">
                                                                <p class="sherah-table__product-name--text">1</p>
                                                            </td>
                                                            <td class="sherah-table__column-2 sherah-table__data-2" style="width:37%;max-width:70px;">
                                                                <div class="sherah-table__product-name">
                                                                    <p class="sherah-table__product-name--text"
                                                                       style="display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow: hidden;">
                                                                        Apple 2023 MacBook Pro Laptop M3 Pro
                                                                    </p>
                                                                </div>
                                                            </td>
                                                            <td class="sherah-table__column-3 sherah-table__data-3" style="width:28%;text-align:center;padding-left:16px;">
                                                                <div class="sherah-table__product-content">
                                                                    <p class="sherah-table__product-desc">Piece</p>
                                                                </div>
                                                            </td>
                                                            <td class="sherah-table__column-4 sherah-table__data-4" style="width:15%;">
                                                                <div class="sherah-table__status__group" style="justify-content:center;">
                                                                    <a href="#" class="sherah-table__action sherah-color3 sherah-color3__bg--opactity">
                                                                        <i class="fa-solid fa-plus"></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sherah-table__column-1 sherah-table__data-1" style="width:25%;text-align:center;">
                                                                <p class="sherah-table__product-name--text">1</p>
                                                            </td>
                                                            <td class="sherah-table__column-2 sherah-table__data-2" style="width:37%;max-width:70px;">
                                                                <div class="sherah-table__product-name">
                                                                    <p class="sherah-table__product-name--text"
                                                                       style="display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow: hidden;">
                                                                        Apple 2023 MacBook Pro Laptop M3 Pro
                                                                    </p>
                                                                </div>
                                                            </td>
                                                            <td class="sherah-table__column-3 sherah-table__data-3" style="width:28%;text-align:center;padding-left:16px;">
                                                                <div class="sherah-table__product-content">
                                                                    <p class="sherah-table__product-desc">Piece</p>
                                                                </div>
                                                            </td>
                                                            <td class="sherah-table__column-4 sherah-table__data-4" style="width:15%;">
                                                                <div class="sherah-table__status__group" style="justify-content:center;">
                                                                    <a href="#" class="sherah-table__action sherah-color3 sherah-color3__bg--opactity">
                                                                        <i class="fa-solid fa-plus"></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sherah-table__column-1 sherah-table__data-1" style="width:25%;text-align:center;">
                                                                <p class="sherah-table__product-name--text">1</p>
                                                            </td>
                                                            <td class="sherah-table__column-2 sherah-table__data-2" style="width:37%;max-width:70px;">
                                                                <div class="sherah-table__product-name">
                                                                    <p class="sherah-table__product-name--text"
                                                                       style="display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow: hidden;">
                                                                        Apple 2023 MacBook Pro Laptop M3 Pro
                                                                    </p>
                                                                </div>
                                                            </td>
                                                            <td class="sherah-table__column-3 sherah-table__data-3" style="width:28%;text-align:center;padding-left:16px;">
                                                                <div class="sherah-table__product-content">
                                                                    <p class="sherah-table__product-desc">Piece</p>
                                                                </div>
                                                            </td>
                                                            <td class="sherah-table__column-4 sherah-table__data-4" style="width:15%;">
                                                                <div class="sherah-table__status__group" style="justify-content:center;">
                                                                    <a href="#" class="sherah-table__action sherah-color3 sherah-color3__bg--opactity">
                                                                        <i class="fa-solid fa-plus"></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- End Product List -->
                                    </div>
                                </div>
                                <div class="product-form-box sherah-border mg-top-30">
                                    <div class="cart-list">
                                        <table class="table" style="border-color:#5A5A5A">
                                            <thead class="thead-primary">
                                                <tr class="text-center">
                                                    <th>&nbsp;</th>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center" style="border-color:#5A5A5A">
                                                    <td class="product-remove" style="padding:20px 0 0 5px;">
                                                        <a href="#"><i class="fa-solid fa-square-xmark" style="font-size:20px;"></i></a>
                                                    </td>
                                                    <td class="product-name" style="max-width: 400px;">
                                                        <h6 style="padding-top:11px;margin:0;font-weight:500">Nike Free RN 2019 iD</h6>
                                                    </td>
                                                    <td class="price" style="max-width:150px;">
                                                        <div class="input-group mb-3" style="max-height:30px;display:flex;justify-content:center;align-items:center;">
                                                            <input type="text" name="quantity" class="quantity input-number form-control" value="$4.90"
                                                                   style="text-align:center;max-height:45px;max-width:80px;margin:0 12px;padding:0;" />
                                                        </div>
                                                    </td>
                                                    <td class="quantity" style="max-width: 150px;">
                                                        <div class="input-group mb-3" style="max-height:30px;display:flex;justify-content:center;align-items:center;">
                                                            <span class="input-group-btn mr-2">
                                                                <button type="button" class="quantity-left-minus btn" data-type="minus" data-field=""
                                                                        style="width:20px;height:20px;display:flex;justify-content:center;align-items:center;">
                                                                    <i class="fa-solid fa-minus" style="font-size:16px;color:#666;"></i>
                                                                </button>
                                                            </span>
                                                            <input type="text" name="quantity" class="quantity input-number form-control" value="1"
                                                                   style="text-align:center;max-height:45px;max-width:80px;margin:0 12px;padding:0;" />
                                                            <span class="input-group-btn ml-2">
                                                                <button type="button" class="quantity-right-plus btn" data-type="plus" data-field=""
                                                                        style="width:20px;height:20px;display:flex;justify-content:center;align-items:center;">
                                                                    <i class="fa-solid fa-plus" style="font-size:16px;color:#666;"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td class="total" style="padding-top:20px;max-height:30px;">$4.90</td>
                                                </tr>
                                                <!-- END TR-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class=" mg-top-40 sherah-dflex sherah-dflex-gap-30 justify-content-end">
                                    <button type="submit" class="sherah-btn sherah-btn__primary">Warehouse Import</button>
                                    <a href="/Warehouse/WarehouseProduct" class="sherah-btn sherah-btn__third">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Dashboard Inner -->
                </div>
            </div>


        </div>
    </div>
</section>


