@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Forbidden</title>

    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Do+Hyeon|Frijole|Josefin+Sans:300,400,400i,600,700|Viga">
    <link rel="stylesheet" href="/assets/css/403-page.css">
</head>
<body>
    <div class="wrapper">
        <div class="box">
            <h1>403</h1>
            <p>Sorry, it's not allowed to go beyond this point!</p>
            <p><a href="#" onclick="back()">Please, go back this way.</a></p>
        </div>
    </div>
    <script>
        function back() {
            history.back();
        }
    </script>
</body>
</html>