@model WarehouseWebMVC.Models.DTOs.UserDTO.UserDTO
@{
    ViewData["Title"] = "Forgot Password";
    Layout = null;
}
@{
    var message = TempData["Message"] as string;
}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Warehouse Management</title>

    <link href="/assets/images/favicon.png" rel="icon">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main-forgot-reset.css">
    <link rel="stylesheet" href="/assets/css/main-toast.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body oncontextmenu='return false' class='snippet-body'>
    <div id="toast"></div>
    @if (!string.IsNullOrEmpty(message))
    {
        if ("Success".Equals(message))
        {
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    setTimeout(function () {
                        toast({
                            title: "Success",
                            message: "Check your Email to reset Password.",
                            type: "success",
                            duration: 3000,
                        });
                    }, 600);
                });
            </script>
        }
        else if ("WrongInfo".Equals(message))
        {
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    setTimeout(function () {
                        toast({
                            title: "Info",
                            message: "Invalid Email. Please enter again!",
                            type: "info",
                            duration: 3000,
                        });
                    }, 600);
                });
            </script>
        }
        else if ("Null".Equals(message))
        {
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    setTimeout(function () {
                        toast({
                            title: "Error",
                            message: "Please enter Email field!",
                            type: "danger",
                            duration: 3000,
                        });
                    }, 600);
                });
            </script>
        }
        else if ("Failed".Equals(message))
        {
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    setTimeout(function () {
                        toast({
                            title: "Error",
                            message: "Token has expired, please submit a new request!!",
                            type: "danger",
                            duration: 3000,
                        });
                    }, 600);
                });
            </script>
        }
    }
    <div class="container padding-bottom-3x mb-2 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="forgot">
                    <a asp-area="" asp-controller="Authentication" asp-action="Login"
                       style="text-decoration: none; color: #555;">
                        <i class="d-flex fa fa-arrow-left" aria-hidden="true"></i>
                    </a>
                    <br>
                    <h2>Forgot your password?</h2>
                    <p>Change your password in three easy steps. This will help you to secure your password!</p>
                    <ol class="list-unstyled">
                        <li><span class="text-dark text-medium">1. </span>Enter your email address below.</li>
                        <li>
                            <span class="text-dark text-medium">2. </span>Our system will send you a Temporary Password
                            to your email.
                        </li>
                        <li><span class="text-dark text-medium">3. </span>Enter the Password on the next page.</li>
                    </ol>
                </div>
                <br>
                <form class="card mt-2" asp-controller="Authentication" asp-action="ForgotPassword" method="post" id="forget-form">
                    <div class="card-body">
                        <div class="input-box">
                            <div class="form-group">
                                <label for="email-for-pass">Enter your email address</label>
                                <input asp-for="Email" class="form-control" type="text" name="email" id="email-for-pass" rules="required|email">
                                <small class="form-text text-muted">
                                    Enter the registered email address.
                                    Then we'll email a temporary Password to this address.
                                </small>
                                <br />
                                <small class="form-message"></small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-submit" type="submit"
                                style="background-color: #6dabe4; border-color: #6dabe4; color: #fff;">
                            Get New
                            Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="preloader"></div>

    <!-- Sherah Scripts -->
    <script src="/js/Validator.js"></script>
    <script src="/js/toast-config.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script>
        let preloader = document.getElementById('preloader');
        if (preloader) {
            window.addEventListener('load', () => {
                setTimeout(() => {
                    preloader.remove();
                }, 500);
            });
        }
    </script>
    <script>
        Validator('#forget-form')
    </script>
</body>

</html>
