@{
    ViewData["Title"] = "Forgor Password";
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Warehouse Management</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main-forgot.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-position: center;
            background-color: #fff;
            background-repeat: no-repeat;
            background-size: cover;
            color: #505050;
            font-family: "Rubik", Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.5;
            text-transform: none
        }

        .forgot {
            background-color: #fff;
            padding: 12px;
            border: 1px solid #dfdfdf
        }

        .padding-bottom-3x {
            padding-bottom: 72px !important
        }

        .card-footer {
            background-color: #fff
        }

        .btn {
            font-size: 13px
        }

        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #76b7e9;
            outline: 0;
            box-shadow: 0 0 0 0px #28a745;
        }

        button:hover {
            background: #4292dc !important;
        }

        button:focus{
            box-shadow: 0 0 0 0px #4292dc;
        }
    </style>
</head>
<body oncontextmenu='return false' class='snippet-body'>
    <div class="container padding-bottom-3x mb-2 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="forgot">
                    <a asp-area="" asp-controller="Authentication" asp-action="Login" style="text-decoration: none; color: #555;">
                        <i class="d-flex fa fa-arrow-left" aria-hidden="true"></i>
                    </a>
                    <br>
                    <h2>Forgot your password?</h2>
                    <p>Change your password in three easy steps. This will help you to secure your password!</p>
                    <ol class="list-unstyled">
                        <li><span class="text-dark text-medium">1. </span>Enter your email address below.</li>
                        <li><span class="text-dark text-medium">2. </span>Our system will send you a Temporary Password to your email.</li>
                        <li><span class="text-dark text-medium">3. </span>Enter the Password on the next page.</li>
                    </ol>
                </div>
                <br>
                <form class="card mt-2" action="./forgot-password" method="post" id="forgetForm">
                    <div class="card-body">
                        <div class="input-box">
                            <label for="email-for-pass">Enter your email address</label>
                            <input class="form-control" type="text" name="email" id="email-for-pass" rules="required|email">
                            <span class="form-message text-danger" style="font-size: 0.9rem"></span>
                            <small class="form-text text-muted">
                                Enter the registered email address.
                                Then we'll email a temporary Password to this address.
                            </small>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-submit" type="submit" style="background-color: #6dabe4; border-color: #6dabe4; color: #fff;">Get New Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="preloader"></div>

    <!-- Sherah Scripts -->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script>
        let preloader = document.getElementById('preloader');
        if (preloader) {
            window.addEventListener('load', () => {
                setTimeout(() => {
                    preloader.remove();
                }, 500);
            });
        }
    </script>
</body>
</html>
