@model WarehouseWebMVC.Models.DTOs.UserDTO.UserDTO
@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
}
@{
    var message = TempData["Message"] as string;
}
<!doctype html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Warehouse Management</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main-forgot-reset.css">
    <link rel="stylesheet" href="/assets/css/main-toast.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body class='snippet-body'>
    <div id="toast"></div>
    @if (!string.IsNullOrEmpty(message))
    {
        if ("Failed".Equals(message))
        {
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    setTimeout(function () {
                        toast({
                            title: "Failed",
                            message: "Can not reset your Password!",
                            type: "danger",
                            duration: 3000,
                        });
                    }, 600);
                });
            </script>
        }
        else if ("WrongInfo".Equals(message))
        {
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    setTimeout(function () {
                        toast({
                            title: "Info",
                            message: "New password and Confirm password have to be similar.",
                            type: "info",
                            duration: 3000,
                        });
                    }, 600);
                });
            </script>
        }
        else if ("Null".Equals(message))
        {
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    setTimeout(function () {
                        toast({
                            title: "Error",
                            message: "All fields have to be filled!",
                            type: "danger",
                            duration: 3000,
                        });
                    }, 600);
                });
            </script>
        }
    }
    <div class="container padding-bottom-3x mb-2 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="reset">
                    <a style="text-decoration: none; color: #555;">
                        <i class="d-flex fa fa-arrow-left" aria-hidden="true"></i>
                    </a>
                    <br>
                    <h2>Reset Password</h2>
                    <p>Change your password in three easy steps. This will help you to secure your password!</p>
                    <ol class="list-unstyled">
                        <li><span class="text-dark text-medium">1. </span>Your new password need at most 16 characters.</li>
                        <li><span class="text-dark text-medium">2. </span>Your new password need at least 1 number & 1 special characters.</li>
                        <li><span class="text-dark text-medium">3. </span>Your new password need a character lower & upper. </li>
                    </ol>
                </div>
                <br>
                <form class="card mt-2" asp-controller="Authentication" asp-action="ResetPassword" method="post" id="reset-form">
                    <div class="card-body">
                        <div class="input-box">
                            <div class="form-group">
                                <label for="new-password">Enter your new password</label>
                                <input asp-for="NewPassword" class="form-control" type="password" name="newPassword" id="new-password" rules="required|max:16|number|lower|upper|special">
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div class="input-box">
                            <div class="form-group">
                                <label for="confirm-password">Confirm new Password</label>
                                <input asp-for="ConfirmPassword" class="form-control" type="password" name="confirmPassword" id="confirm-password" rules="required|match:new-password">
                                <span class="form-message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-submit" type="submit"
                            style="background-color: #6dabe4; border-color: #6dabe4; color: #fff;">Change
                            Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="preloader"></div>

    <!-- Sherah Scripts -->
    <script src="/js/Validator.js"></script>
    <script src="/js/toast-config.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script>
        let preloader = document.getElementById('preloader');
        if (preloader) {
            window.addEventListener('load', () => {
                setTimeout(() => {
                    preloader.remove();
                }, 500);
            });
        }
    </script>
    <script>
        Validator('#reset-form')
    </script>
</body>

</html>
