@{
    ViewData["Title"] = "Products";
}

<!-- sherah Dashboard -->
<section class="sherah-adashboard sherah-show">
				<div class="container">
					<div class="row">	
						<div class="col-12">
							<div class="sherah-body">
								<!-- Dashboard Inner -->
								<div class="sherah-dsinner">

									<div class="row mg-top-30">
										<div class="col-12 sherah-flex-between">
											<!-- Sherah Breadcrumb -->
											<div class="sherah-breadcrumb">
												<h2 class="sherah-breadcrumb__title">Product Details</Details></h2>
												<ul class="sherah-breadcrumb__list"> 
													<li><a href="#">Home</a></li>
													<li class="active"><a href="products.html">Products Details</a></li>
												</ul>
											</div>
											<!-- End Sherah Breadcrumb -->
										</div>
									</div>

                                    <div class="product-detail-body sherah-default-bg sherah-border mg-top-30">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-12">
                                               <!-- Product Slider -->
                                                <div class="product-gallery">
                                                    <!-- product details image -->
                                                    <div class="product-details-image">
                                                        
                                                        <ul class="nav-pills nav flex-nowrap product-thumbs" id="pills-tab" role="tablist">
                                                            <li class="single-thumbs" role="presentation">
                                                                <a class="active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                                                                    <img src="img/product-detail.png" alt="thumbs">
                                                                </a>
                                                            </li>
                                                            <li class="single-thumbs" role="presentation">
                                                                <a id="pills-profile-tab" data-bs-toggle="pill"	href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                                                <img src="img/product-detail.png" alt="thumbs">
                                                                </a>
                                                            </li>
                                                            <li class="single-thumbs" role="presentation">
                                                                <a id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false" >
                                                                <img src="img/product-detail.png" alt="thumbs">
                                                                </a>
                                                            </li>
                                                            <li class="single-thumbs" role="presentation">
                                                                <a id="pills-four-tab" data-bs-toggle="pill" href="#pills-four" role="tab" aria-controls="pills-four" aria-selected="false">
                                                                <img src="img/product-detail.png" alt="thumbs">
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <div class="main-preview-image">
                                                            <div class="tab-content product-image" id="pills-tabContent">
                                                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                                                    <div class="single-product-image">
                                                                        <img src="img/product-detail.png" alt="product">
                                                                    </div>
                                                                    <!-- single product image -->
                                                                </div>
                                                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                                                    <div class="single-product-image">
                                                                        <img src="img/product-detail.png" alt="product">
                                                                    </div>
                                                                    <!-- single product image -->
                                                                </div>
                                                                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                                                    <div class="single-product-image">
                                                                        <img src="img/product-detail.png" alt="product">
                                                                    </div>
                                                                    <!-- single product image -->
                                                                </div>
                                                                <div class="tab-pane fade" id="pills-four" role="tabpanel" aria-labelledby="pills-four-tab">
                                                                    <div class="single-product-image">
                                                                        <img src="img/product-detail.png" alt="product">
                                                                    </div>
                                                                    <!-- single product image -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- product details image -->
                                                </div>
                                                <!-- End Product slider -->
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="product-detail-body__content">
                                                    <h2 class="product-detail-body__title">Atu Body Couture Bow Front Dress</h2>
                                                    <p class="product-detail-body__stats">Sold 21 Products in last 10 Hours</p>
                                                    <div class="product-detail-body__deal--rating">
                                                        <h5 class="sherah-product-card__price"><del>$155</del>$135</h5>	
                                                        <div class="sherah-product-card__meta sherah-dflex sherah-flex-gap-30">
                                                            <div class="sherah-product-card__rating sherah-dflex sherah-flex-gap-5">
                                                                <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                (33)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="product-detail-body__stock sherah-color3">45 In stock</p>
                                                    <div class="product-detail-body__text">
                                                        To achieve this, it would be necessary to have uniform grammar pronunciation and more our common words If several languages coalesce
                                                    </div>

                                                    <!-- Sherah Product Button -->
                                                    <div class="product-inside-button">
                                                        <div class="sherah-button-group">
                                                            <div class="quantity">
                                                                <!-- Input Order -->
                                                                <div class="input-group">
                                                                    <div class="button minus">
                                                                        <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                                                            -
                                                                        </button>
                                                                    </div>
                                                                    <input type="text" name="quant[1]" class="input-number"  data-min="1" data-max="10" value="0">
                                                                    <div class="button plus">
                                                                        <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                                                                            +
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <!--/ End Input Order -->
                                                            </div>
                                                            <a href="#" class="sherah-btn">Add to Cart</a>
                                                            <a href="#" class="sherah-btn default">
                                                                <svg class="sherah-default__fill sherah-default__heart" xmlns="http://www.w3.org/2000/svg" width="21.559" height="19.349" viewBox="0 0 21.559 19.349">
                                                                    <path id="Path_533" data-name="Path 533" d="M111.852,15.093v.924a1.034,1.034,0,0,0-.03.135,7.2,7.2,0,0,1-1.211,3.339,14.326,14.326,0,0,1-2.5,2.868c-1.887,1.684-3.8,3.337-5.713,4.994a1.2,1.2,0,0,1-1.7-.04q-2.192-1.885-4.378-3.777a22.751,22.751,0,0,1-3.411-3.5,7.509,7.509,0,0,1-1.514-3.347,6.362,6.362,0,0,1,1.4-5.335,5.368,5.368,0,0,1,5.028-1.9,5.245,5.245,0,0,1,3.221,1.768c.184.2.352.414.539.635.092-.119.171-.225.255-.327s.18-.216.277-.318a5.235,5.235,0,0,1,5.72-1.543,5.583,5.583,0,0,1,3.813,4.222C111.746,14.284,111.784,14.692,111.852,15.093Z" transform="translate(-90.794 -8.871)" stroke-width="1"></path>
                                                                </svg>
                                                            </a>
                                                            <a href="#" class="sherah-btn default">
                                                                <svg class="sherah-default__fill" xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20">
                                                                    <g id="Com" transform="translate(-0.268 0)">
                                                                    <path id="Path_527" data-name="Path 527" d="M7.895.663a4.9,4.9,0,0,1-.024.662c-.012,0-.206.035-.425.082A8.8,8.8,0,0,0,.334,8.8,9.839,9.839,0,0,0,.45,11.808a8.86,8.86,0,0,0,3.875,5.507l.226.14.56-.413a6.464,6.464,0,0,0,.56-.436.953.953,0,0,0-.218-.136,7.762,7.762,0,0,1-1.934-1.524,7.446,7.446,0,0,1-1.878-3.917,9.631,9.631,0,0,1,0-2.085,7.5,7.5,0,0,1,1.116-2.95A7.776,7.776,0,0,1,5.751,3.352a8.609,8.609,0,0,1,2.017-.678l.127-.023V3.2a3.624,3.624,0,0,0,.02.546c.04,0,2.521-1.843,2.521-1.871S7.954,0,7.915,0A5.311,5.311,0,0,0,7.895.663Z" transform="translate(0 0)"></path>
                                                                    <path id="Path_528" data-name="Path 528" d="M13.219,2.958a3.6,3.6,0,0,0-.54.44,1.467,1.467,0,0,0,.27.168,7.818,7.818,0,0,1,2.918,2.95,7.809,7.809,0,0,1,.842,2.615,8.959,8.959,0,0,1-.1,2.362,7.546,7.546,0,0,1-4.848,5.514,10.126,10.126,0,0,1-1.275.343c-.044,0-.056-.1-.056-.546a3.622,3.622,0,0,0-.02-.546c-.04,0-2.521,1.843-2.521,1.871S10.376,20,10.416,20a5.307,5.307,0,0,0,.02-.662v-.659l.151-.023a14,14,0,0,0,1.755-.468A8.765,8.765,0,0,0,18,11.154a9.922,9.922,0,0,0-.119-2.962,8.86,8.86,0,0,0-3.875-5.507l-.226-.14Z" transform="translate(0.206)"></path>
                                                                    </g>
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- End Sherah Product Button -->
                                                    <div class="sherah-border-btm pd-top-40 mg-btm-40"></div>
                                                    <div class="sherah-products-meta">
                                                        <ul class="sherah-products-meta__list">
                                                            <li><span class="p-list-title">SKU :</span> KE-91039 </li>
                                                            <li><span class="p-list-title">Category : </span> Cloth</li>
                                                            <li><span class="p-list-title">Tags :</span> Grown Dress, Dress, Party Dress </li>
                                                            <li>
                                                                <span class="p-list-title">Share:</span> 
                                                                <ul class="sherah-contact-info sherah-contact-social">
                                                                    <li class="sherah-border"><a href="#"><span class="sherah-color1__bg--offset"><i class="fa-brands fa-facebook-f"></i></span></a></li>
                                                                    <li class="sherah-border"><a href="#"><span class="sherah-color1__bg--offset"><i class="fa-brands fa-twitter"></i></span></a></li>
                                                                    <li class="sherah-border"><a href="#"><span class="sherah-color1__bg--offset"><i class="fa-brands fa-linkedin"></i></span></a></li>
                                                                    <li class="sherah-border"><a href="#"><span class="sherah-color1__bg--offset"><i class="fa-brands fa-instagram"></i></span></a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product-detail-body sherah-default-bg sherah-border mg-top-30">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="sherah-product-tabs mg-btm-30">
                                                    <div class="sherah-product-tabs__list list-group " id="list-tab" role="tablist">
                                                    <a class="list-group-item active" data-bs-toggle="list" href="#p_tab_1" role="tab" href="#">Specifications</a>
                                                    <a class="list-group-item" data-bs-toggle="list" href="#p_tab_2" role="tab">Features</a>
                                                    <a class="list-group-item" data-bs-toggle="list" href="#p_tab_3" role="tab">Reviews</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="p_tab_1" role="tabpanel" aria-labelledby="nav-home-tab">
                                                        <div class="sherah-product-tabs__text">
                                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you aare going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words,</p>
                                                        </div>
														<div class="sherah-table p-0">
															<table class="product-overview-table mg-top-30">
																<tbody>
																	<tr>
																		<td><span class="product-overview-table_title">Package Dimensions</span></td>
																		<td><span class="product-overview-table_text">44 x 32 x 4 cm, 560 Grams</span></td>
																	</tr>
																	<tr>
																		<td><span class="product-overview-table_title">Manufacturer</span></td>
																		<td><span class="product-overview-table_text">Badgley Mischka</span></td>
																	</tr>
																	<tr>
																		<td><span class="product-overview-table_title">Product Part Number</span></td>
																		<td><span class="product-overview-table_text">JKGHNBKJG-MN563205</span></td>
																	</tr>
																	<tr>
																		<td><span class="product-overview-table_title">Best Sellers Rank</span></td>
																		<td><span class="product-overview-table_text">#561 in Clothing and Accessories</span></td>
																	</tr>
																	<tr>
																		<td><span class="product-overview-table_title">Customer Reviews</span></td>
																		<td>
																			<div class="sherah-product-card__meta sherah-dflex sherah-flex-gap-30">
																				<div class="sherah-product-card__rating sherah-dflex sherah-flex-gap-5">
																					<span class="sherah-color4"><i class="fa fa-star"></i></span>
																					<span class="sherah-color4"><i class="fa fa-star"></i></span>
																					<span class="sherah-color4"><i class="fa fa-star"></i></span>
																					<span class="sherah-color4"><i class="fa fa-star"></i></span>
																					<span class="sherah-color4"><i class="fa-regular fa-star"></i></span>
																					2,580 Ratings
																				</div>
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
                                                    </div>
                                                    <div class="tab-pane fade" id="p_tab_2" role="tabpanel" aria-labelledby="nav-home-tab">
                                                        <ul class="sherah-features-list">
                                                            <li><svg class="sherah-offset__fill" xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11">
                                                                <g id="Group_1022" data-name="Group 1022" transform="translate(-165.75 -19.435)">
                                                                  <path id="Path_550" data-name="Path 550" d="M165.75,24.587c.03-.212.052-.424.091-.634a5.39,5.39,0,0,1,7.9-3.832c.034.018.067.039.112.065l-.594,1.028a4.214,4.214,0,0,0-4.085-.04,4.027,4.027,0,0,0-2.048,2.56,4.254,4.254,0,0,0,3.005,5.353,4.023,4.023,0,0,0,3.607-.767,4.223,4.223,0,0,0,1.622-3.369h1.212c-.03.3-.042.6-.09.892a5.39,5.39,0,0,1-1.64,3.124,5.363,5.363,0,0,1-7.062.271,5.344,5.344,0,0,1-1.932-3.29c-.039-.214-.062-.43-.092-.646Z"/>
                                                                  <path id="Path_551" data-name="Path 551" d="M271.957,39.458a1.187,1.187,0,0,0-.106.085l-5.782,5.782a1.168,1.168,0,0,0-.08.1L263,42.428l.807-.8,2.126,2.127,5.18-5.18.848.857Z" transform="translate(-94.207 -18.545)"/>
                                                                </g>
                                                              </svg>
                                                              Fiber or filament: type, size, length
                                                            </li>
                                                            <li><svg class="sherah-offset__fill" xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11">
                                                                <g id="Group_1022" data-name="Group 1022" transform="translate(-165.75 -19.435)">
                                                                  <path id="Path_550" data-name="Path 550" d="M165.75,24.587c.03-.212.052-.424.091-.634a5.39,5.39,0,0,1,7.9-3.832c.034.018.067.039.112.065l-.594,1.028a4.214,4.214,0,0,0-4.085-.04,4.027,4.027,0,0,0-2.048,2.56,4.254,4.254,0,0,0,3.005,5.353,4.023,4.023,0,0,0,3.607-.767,4.223,4.223,0,0,0,1.622-3.369h1.212c-.03.3-.042.6-.09.892a5.39,5.39,0,0,1-1.64,3.124,5.363,5.363,0,0,1-7.062.271,5.344,5.344,0,0,1-1.932-3.29c-.039-.214-.062-.43-.092-.646Z"/>
                                                                  <path id="Path_551" data-name="Path 551" d="M271.957,39.458a1.187,1.187,0,0,0-.106.085l-5.782,5.782a1.168,1.168,0,0,0-.08.1L263,42.428l.807-.8,2.126,2.127,5.18-5.18.848.857Z" transform="translate(-94.207 -18.545)"/>
                                                                </g>
                                                              </svg>
                                                              Yarn: diameter, twist, weight or size, count, fiber content for mixed yarns, ply.
                                                            </li>
                                                            <li><svg class="sherah-offset__fill" xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11">
                                                                <g id="Group_1022" data-name="Group 1022" transform="translate(-165.75 -19.435)">
                                                                  <path id="Path_550" data-name="Path 550" d="M165.75,24.587c.03-.212.052-.424.091-.634a5.39,5.39,0,0,1,7.9-3.832c.034.018.067.039.112.065l-.594,1.028a4.214,4.214,0,0,0-4.085-.04,4.027,4.027,0,0,0-2.048,2.56,4.254,4.254,0,0,0,3.005,5.353,4.023,4.023,0,0,0,3.607-.767,4.223,4.223,0,0,0,1.622-3.369h1.212c-.03.3-.042.6-.09.892a5.39,5.39,0,0,1-1.64,3.124,5.363,5.363,0,0,1-7.062.271,5.344,5.344,0,0,1-1.932-3.29c-.039-.214-.062-.43-.092-.646Z"/>
                                                                  <path id="Path_551" data-name="Path 551" d="M271.957,39.458a1.187,1.187,0,0,0-.106.085l-5.782,5.782a1.168,1.168,0,0,0-.08.1L263,42.428l.807-.8,2.126,2.127,5.18-5.18.848.857Z" transform="translate(-94.207 -18.545)"/>
                                                                </g>
                                                              </svg>
                                                              Weight: ounces per squared or yards per pound.
                                                            </li>
                                                            <li><svg class="sherah-offset__fill" xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11">
                                                                <g id="Group_1022" data-name="Group 1022" transform="translate(-165.75 -19.435)">
                                                                  <path id="Path_550" data-name="Path 550" d="M165.75,24.587c.03-.212.052-.424.091-.634a5.39,5.39,0,0,1,7.9-3.832c.034.018.067.039.112.065l-.594,1.028a4.214,4.214,0,0,0-4.085-.04,4.027,4.027,0,0,0-2.048,2.56,4.254,4.254,0,0,0,3.005,5.353,4.023,4.023,0,0,0,3.607-.767,4.223,4.223,0,0,0,1.622-3.369h1.212c-.03.3-.042.6-.09.892a5.39,5.39,0,0,1-1.64,3.124,5.363,5.363,0,0,1-7.062.271,5.344,5.344,0,0,1-1.932-3.29c-.039-.214-.062-.43-.092-.646Z"/>
                                                                  <path id="Path_551" data-name="Path 551" d="M271.957,39.458a1.187,1.187,0,0,0-.106.085l-5.782,5.782a1.168,1.168,0,0,0-.08.1L263,42.428l.807-.8,2.126,2.127,5.18-5.18.848.857Z" transform="translate(-94.207 -18.545)"/>
                                                                </g>
                                                              </svg>
                                                              Thickness: vertical depth.
                                                            </li>
                                                            <li><svg class="sherah-offset__fill" xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11">
                                                                <g id="Group_1022" data-name="Group 1022" transform="translate(-165.75 -19.435)">
                                                                  <path id="Path_550" data-name="Path 550" d="M165.75,24.587c.03-.212.052-.424.091-.634a5.39,5.39,0,0,1,7.9-3.832c.034.018.067.039.112.065l-.594,1.028a4.214,4.214,0,0,0-4.085-.04,4.027,4.027,0,0,0-2.048,2.56,4.254,4.254,0,0,0,3.005,5.353,4.023,4.023,0,0,0,3.607-.767,4.223,4.223,0,0,0,1.622-3.369h1.212c-.03.3-.042.6-.09.892a5.39,5.39,0,0,1-1.64,3.124,5.363,5.363,0,0,1-7.062.271,5.344,5.344,0,0,1-1.932-3.29c-.039-.214-.062-.43-.092-.646Z"/>
                                                                  <path id="Path_551" data-name="Path 551" d="M271.957,39.458a1.187,1.187,0,0,0-.106.085l-5.782,5.782a1.168,1.168,0,0,0-.08.1L263,42.428l.807-.8,2.126,2.127,5.18-5.18.848.857Z" transform="translate(-94.207 -18.545)"/>
                                                                </g>
                                                              </svg>
                                                              Fabric structure
                                                            </li>
                                                            <li><svg class="sherah-offset__fill" xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11">
                                                                <g id="Group_1022" data-name="Group 1022" transform="translate(-165.75 -19.435)">
                                                                  <path id="Path_550" data-name="Path 550" d="M165.75,24.587c.03-.212.052-.424.091-.634a5.39,5.39,0,0,1,7.9-3.832c.034.018.067.039.112.065l-.594,1.028a4.214,4.214,0,0,0-4.085-.04,4.027,4.027,0,0,0-2.048,2.56,4.254,4.254,0,0,0,3.005,5.353,4.023,4.023,0,0,0,3.607-.767,4.223,4.223,0,0,0,1.622-3.369h1.212c-.03.3-.042.6-.09.892a5.39,5.39,0,0,1-1.64,3.124,5.363,5.363,0,0,1-7.062.271,5.344,5.344,0,0,1-1.932-3.29c-.039-.214-.062-.43-.092-.646Z"/>
                                                                  <path id="Path_551" data-name="Path 551" d="M271.957,39.458a1.187,1.187,0,0,0-.106.085l-5.782,5.782a1.168,1.168,0,0,0-.08.1L263,42.428l.807-.8,2.126,2.127,5.18-5.18.848.857Z" transform="translate(-94.207 -18.545)"/>
                                                                </g>
                                                              </svg>
                                                              Woven fabrics: weave type, warp and filling yarn count per linear inch
                                                            </li>
                                                            <li><svg class="sherah-offset__fill" xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11">
                                                                <g id="Group_1022" data-name="Group 1022" transform="translate(-165.75 -19.435)">
                                                                  <path id="Path_550" data-name="Path 550" d="M165.75,24.587c.03-.212.052-.424.091-.634a5.39,5.39,0,0,1,7.9-3.832c.034.018.067.039.112.065l-.594,1.028a4.214,4.214,0,0,0-4.085-.04,4.027,4.027,0,0,0-2.048,2.56,4.254,4.254,0,0,0,3.005,5.353,4.023,4.023,0,0,0,3.607-.767,4.223,4.223,0,0,0,1.622-3.369h1.212c-.03.3-.042.6-.09.892a5.39,5.39,0,0,1-1.64,3.124,5.363,5.363,0,0,1-7.062.271,5.344,5.344,0,0,1-1.932-3.29c-.039-.214-.062-.43-.092-.646Z"/>
                                                                  <path id="Path_551" data-name="Path 551" d="M271.957,39.458a1.187,1.187,0,0,0-.106.085l-5.782,5.782a1.168,1.168,0,0,0-.08.1L263,42.428l.807-.8,2.126,2.127,5.18-5.18.848.857Z" transform="translate(-94.207 -18.545)"/>
                                                                </g>
                                                              </svg>
                                                              Knitted fabric: knit type, wale and course count per inch
                                                            </li>
                                                            <li><svg class="sherah-offset__fill" xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11">
                                                                <g id="Group_1022" data-name="Group 1022" transform="translate(-165.75 -19.435)">
                                                                  <path id="Path_550" data-name="Path 550" d="M165.75,24.587c.03-.212.052-.424.091-.634a5.39,5.39,0,0,1,7.9-3.832c.034.018.067.039.112.065l-.594,1.028a4.214,4.214,0,0,0-4.085-.04,4.027,4.027,0,0,0-2.048,2.56,4.254,4.254,0,0,0,3.005,5.353,4.023,4.023,0,0,0,3.607-.767,4.223,4.223,0,0,0,1.622-3.369h1.212c-.03.3-.042.6-.09.892a5.39,5.39,0,0,1-1.64,3.124,5.363,5.363,0,0,1-7.062.271,5.344,5.344,0,0,1-1.932-3.29c-.039-.214-.062-.43-.092-.646Z"/>
                                                                  <path id="Path_551" data-name="Path 551" d="M271.957,39.458a1.187,1.187,0,0,0-.106.085l-5.782,5.782a1.168,1.168,0,0,0-.08.1L263,42.428l.807-.8,2.126,2.127,5.18-5.18.848.857Z" transform="translate(-94.207 -18.545)"/>
                                                                </g>
                                                              </svg>
                                                              Finishes: chemicals such as resins, starches, waxes and mechanical effects such as
                                                            </li>
                                                            <li><svg class="sherah-offset__fill" xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11">
                                                                <g id="Group_1022" data-name="Group 1022" transform="translate(-165.75 -19.435)">
                                                                  <path id="Path_550" data-name="Path 550" d="M165.75,24.587c.03-.212.052-.424.091-.634a5.39,5.39,0,0,1,7.9-3.832c.034.018.067.039.112.065l-.594,1.028a4.214,4.214,0,0,0-4.085-.04,4.027,4.027,0,0,0-2.048,2.56,4.254,4.254,0,0,0,3.005,5.353,4.023,4.023,0,0,0,3.607-.767,4.223,4.223,0,0,0,1.622-3.369h1.212c-.03.3-.042.6-.09.892a5.39,5.39,0,0,1-1.64,3.124,5.363,5.363,0,0,1-7.062.271,5.344,5.344,0,0,1-1.932-3.29c-.039-.214-.062-.43-.092-.646Z"/>
                                                                  <path id="Path_551" data-name="Path 551" d="M271.957,39.458a1.187,1.187,0,0,0-.106.085l-5.782,5.782a1.168,1.168,0,0,0-.08.1L263,42.428l.807-.8,2.126,2.127,5.18-5.18.848.857Z" transform="translate(-94.207 -18.545)"/>
                                                                </g>
                                                              </svg>
                                                              Calendaring and napping applied to the woven fabric to yield or enhance style, durability, and utility values.
                                                            </li>
                                                            <li><svg class="sherah-offset__fill" xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11">
                                                                <g id="Group_1022" data-name="Group 1022" transform="translate(-165.75 -19.435)">
                                                                  <path id="Path_550" data-name="Path 550" d="M165.75,24.587c.03-.212.052-.424.091-.634a5.39,5.39,0,0,1,7.9-3.832c.034.018.067.039.112.065l-.594,1.028a4.214,4.214,0,0,0-4.085-.04,4.027,4.027,0,0,0-2.048,2.56,4.254,4.254,0,0,0,3.005,5.353,4.023,4.023,0,0,0,3.607-.767,4.223,4.223,0,0,0,1.622-3.369h1.212c-.03.3-.042.6-.09.892a5.39,5.39,0,0,1-1.64,3.124,5.363,5.363,0,0,1-7.062.271,5.344,5.344,0,0,1-1.932-3.29c-.039-.214-.062-.43-.092-.646Z"/>
                                                                  <path id="Path_551" data-name="Path 551" d="M271.957,39.458a1.187,1.187,0,0,0-.106.085l-5.782,5.782a1.168,1.168,0,0,0-.08.1L263,42.428l.807-.8,2.126,2.127,5.18-5.18.848.857Z" transform="translate(-94.207 -18.545)"/>
                                                                </g>
                                                              </svg>
                                                              Fabric width: The length of the filling or course
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="tab-pane fade" id="p_tab_3" role="tabpanel" aria-labelledby="nav-home-tab">
                                                        <!-- Sherah Review -->
                                                        <div class="sherah-user-reviews">
                                                            <!-- Single Review -->
                                                            <div class="sherah-user-reviews__single">
                                                                <div class="shera-user-reviews_thumb">
                                                                    <img src="img/review-1.png">
                                                                </div>
                                                                <div class="sherah-user-reviews__content">
                                                                    <h4 class="sherah-user-reviews_title">Abubokkor Siddik</h4>
                                                                    <div class="sherah-product-card__rating sherah-dflex sherah-flex-gap-5">
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                    </div>
                                                                    <p class="sherah-user-reviews__text">This is some unreal beauty!I really liked it! What a beautiful light it comes from! The radius of bright light is about meters</p>
                                                                    <div class="sherah-user-reviews__buttons">
                                                                        <a href="#" class="sherah-color3 sherah-color3__bg--opactity">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="17.136" height="15.5" viewBox="0 0 17.136 15.5">
                                                                                <path id="Icon" d="M106.729,13.669v.694a.779.779,0,0,0-.022.1,5.407,5.407,0,0,1-.909,2.507,10.756,10.756,0,0,1-1.877,2.153c-1.417,1.265-2.855,2.505-4.29,3.75a.9.9,0,0,1-1.28-.03q-1.646-1.415-3.287-2.836a17.082,17.082,0,0,1-2.561-2.63,5.638,5.638,0,0,1-1.136-2.513,4.777,4.777,0,0,1,1.049-4.005,4.03,4.03,0,0,1,3.775-1.423,3.938,3.938,0,0,1,2.419,1.328c.138.149.264.31.4.477.069-.089.128-.169.192-.246s.135-.162.208-.239A3.931,3.931,0,0,1,103.71,9.6a4.192,4.192,0,0,1,2.863,3.17C106.65,13.062,106.679,13.368,106.729,13.669Z" transform="translate(-90.443 -8.519)" fill="none" stroke="#09ad95" stroke-width="1.7"/>
                                                                           </svg> 80
                                                                        </a>
                                                                        <a href="#" class="sherah-color2 sherah-color2__bg--opactity">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="17.684" height="15.304" viewBox="0 0 17.684 15.304">
                                                                                <path id="Icon" d="M122.755,24.156c-.059.315-.1.635-.18.945a7.044,7.044,0,0,1-1.362,2.647l-.383.482-1.064-.84.358-.454a5.942,5.942,0,0,0,1.108-2.061,4.449,4.449,0,0,0-.089-2.687,4.951,4.951,0,0,0-2.707-3.014,4.9,4.9,0,0,0-2.089-.447q-4.115-.007-8.231,0c-.032,0-.065,0-.094,0l3.064,3.06-.963.962-4.69-4.694,4.71-4.711.925.925-3.1,3.1h.24q4.005,0,8.01,0a6.442,6.442,0,0,1,3.671,1.067,6.311,6.311,0,0,1,2.422,3,5.989,5.989,0,0,1,.417,1.86.716.716,0,0,0,.025.114Z" transform="translate(-105.221 -13.137)" fill="#ff6767" stroke="#ff6767" stroke-width="0.3"/>
                                                                            </svg> Reply
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Single Review -->
                                                            <!-- Single Review -->
                                                            <div class="sherah-user-reviews__single sherah-user-reviews__single--reply">
                                                                <div class="shera-user-reviews_thumb">
                                                                    <img src="img/review-2.png">
                                                                </div>
                                                                <div class="sherah-user-reviews__content">
                                                                    <h4 class="sherah-user-reviews_title">Admin</h4>
                                                                    <div class="sherah-product-card__rating sherah-dflex sherah-flex-gap-5">
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                    </div>
                                                                    <p class="sherah-user-reviews__text">Thank Your for opinion.</p>
                                                                    <div class="sherah-user-reviews__buttons">
                                                                        <a href="#" class="sherah-color3 sherah-color3__bg--opactity">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="17.136" height="15.5" viewBox="0 0 17.136 15.5">
                                                                                <path id="Icon" d="M106.729,13.669v.694a.779.779,0,0,0-.022.1,5.407,5.407,0,0,1-.909,2.507,10.756,10.756,0,0,1-1.877,2.153c-1.417,1.265-2.855,2.505-4.29,3.75a.9.9,0,0,1-1.28-.03q-1.646-1.415-3.287-2.836a17.082,17.082,0,0,1-2.561-2.63,5.638,5.638,0,0,1-1.136-2.513,4.777,4.777,0,0,1,1.049-4.005,4.03,4.03,0,0,1,3.775-1.423,3.938,3.938,0,0,1,2.419,1.328c.138.149.264.31.4.477.069-.089.128-.169.192-.246s.135-.162.208-.239A3.931,3.931,0,0,1,103.71,9.6a4.192,4.192,0,0,1,2.863,3.17C106.65,13.062,106.679,13.368,106.729,13.669Z" transform="translate(-90.443 -8.519)" fill="none" stroke="#09ad95" stroke-width="1.7"/>
                                                                           </svg> 80
                                                                        </a>
                                                                        <a href="#" class="sherah-color2 sherah-color2__bg--opactity">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="17.684" height="15.304" viewBox="0 0 17.684 15.304">
                                                                                <path id="Icon" d="M122.755,24.156c-.059.315-.1.635-.18.945a7.044,7.044,0,0,1-1.362,2.647l-.383.482-1.064-.84.358-.454a5.942,5.942,0,0,0,1.108-2.061,4.449,4.449,0,0,0-.089-2.687,4.951,4.951,0,0,0-2.707-3.014,4.9,4.9,0,0,0-2.089-.447q-4.115-.007-8.231,0c-.032,0-.065,0-.094,0l3.064,3.06-.963.962-4.69-4.694,4.71-4.711.925.925-3.1,3.1h.24q4.005,0,8.01,0a6.442,6.442,0,0,1,3.671,1.067,6.311,6.311,0,0,1,2.422,3,5.989,5.989,0,0,1,.417,1.86.716.716,0,0,0,.025.114Z" transform="translate(-105.221 -13.137)" fill="#ff6767" stroke="#ff6767" stroke-width="0.3"/>
                                                                            </svg> Reply
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Single Review -->
                                                            <!-- Single Review -->
                                                            <div class="sherah-user-reviews__single">
                                                                <div class="shera-user-reviews_thumb">
                                                                    <img src="img/review-3.png">
                                                                </div>
                                                                <div class="sherah-user-reviews__content">
                                                                    <h4 class="sherah-user-reviews_title">Deniella Rhodes</h4>
                                                                    <div class="sherah-product-card__rating sherah-dflex sherah-flex-gap-5">
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                    </div>
                                                                    <p class="sherah-user-reviews__text">Rreally liked it! What a beautiful light it comes from! The radius of bright.</p>
                                                                    <div class="sherah-user-reviews__buttons">
                                                                        <a href="#" class="sherah-color3 sherah-color3__bg--opactity">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="17.136" height="15.5" viewBox="0 0 17.136 15.5">
                                                                                <path id="Icon" d="M106.729,13.669v.694a.779.779,0,0,0-.022.1,5.407,5.407,0,0,1-.909,2.507,10.756,10.756,0,0,1-1.877,2.153c-1.417,1.265-2.855,2.505-4.29,3.75a.9.9,0,0,1-1.28-.03q-1.646-1.415-3.287-2.836a17.082,17.082,0,0,1-2.561-2.63,5.638,5.638,0,0,1-1.136-2.513,4.777,4.777,0,0,1,1.049-4.005,4.03,4.03,0,0,1,3.775-1.423,3.938,3.938,0,0,1,2.419,1.328c.138.149.264.31.4.477.069-.089.128-.169.192-.246s.135-.162.208-.239A3.931,3.931,0,0,1,103.71,9.6a4.192,4.192,0,0,1,2.863,3.17C106.65,13.062,106.679,13.368,106.729,13.669Z" transform="translate(-90.443 -8.519)" fill="none" stroke="#09ad95" stroke-width="1.7"/>
                                                                           </svg> 80
                                                                        </a>
                                                                        <a href="#" class="sherah-color2 sherah-color2__bg--opactity">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="17.684" height="15.304" viewBox="0 0 17.684 15.304">
                                                                                <path id="Icon" d="M122.755,24.156c-.059.315-.1.635-.18.945a7.044,7.044,0,0,1-1.362,2.647l-.383.482-1.064-.84.358-.454a5.942,5.942,0,0,0,1.108-2.061,4.449,4.449,0,0,0-.089-2.687,4.951,4.951,0,0,0-2.707-3.014,4.9,4.9,0,0,0-2.089-.447q-4.115-.007-8.231,0c-.032,0-.065,0-.094,0l3.064,3.06-.963.962-4.69-4.694,4.71-4.711.925.925-3.1,3.1h.24q4.005,0,8.01,0a6.442,6.442,0,0,1,3.671,1.067,6.311,6.311,0,0,1,2.422,3,5.989,5.989,0,0,1,.417,1.86.716.716,0,0,0,.025.114Z" transform="translate(-105.221 -13.137)" fill="#ff6767" stroke="#ff6767" stroke-width="0.3"/>
                                                                            </svg> Reply
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Single Review -->
                                                            <!-- Single Review -->
                                                            <div class="sherah-user-reviews__single">
                                                                <div class="shera-user-reviews_thumb">
                                                                    <img src="img/review-4.png">
                                                                </div>
                                                                <div class="sherah-user-reviews__content">
                                                                    <h4 class="sherah-user-reviews_title">Deniella Rhodes</h4>
                                                                    <div class="sherah-product-card__rating sherah-dflex sherah-flex-gap-5">
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                        <span class="sherah-color4"><i class="fa fa-star"></i></span>
                                                                    </div>
                                                                    <p class="sherah-user-reviews__text">Rreally liked it! What a beautiful light it comes from! The radius of bright.</p>
                                                                    <div class="sherah-user-reviews__buttons">
                                                                        <a href="#" class="sherah-color3 sherah-color3__bg--opactity">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="17.136" height="15.5" viewBox="0 0 17.136 15.5">
                                                                                <path id="Icon" d="M106.729,13.669v.694a.779.779,0,0,0-.022.1,5.407,5.407,0,0,1-.909,2.507,10.756,10.756,0,0,1-1.877,2.153c-1.417,1.265-2.855,2.505-4.29,3.75a.9.9,0,0,1-1.28-.03q-1.646-1.415-3.287-2.836a17.082,17.082,0,0,1-2.561-2.63,5.638,5.638,0,0,1-1.136-2.513,4.777,4.777,0,0,1,1.049-4.005,4.03,4.03,0,0,1,3.775-1.423,3.938,3.938,0,0,1,2.419,1.328c.138.149.264.31.4.477.069-.089.128-.169.192-.246s.135-.162.208-.239A3.931,3.931,0,0,1,103.71,9.6a4.192,4.192,0,0,1,2.863,3.17C106.65,13.062,106.679,13.368,106.729,13.669Z" transform="translate(-90.443 -8.519)" fill="none" stroke="#09ad95" stroke-width="1.7"/>
                                                                           </svg> 80
                                                                        </a>
                                                                        <a href="#" class="sherah-color2 sherah-color2__bg--opactity">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="17.684" height="15.304" viewBox="0 0 17.684 15.304">
                                                                                <path id="Icon" d="M122.755,24.156c-.059.315-.1.635-.18.945a7.044,7.044,0,0,1-1.362,2.647l-.383.482-1.064-.84.358-.454a5.942,5.942,0,0,0,1.108-2.061,4.449,4.449,0,0,0-.089-2.687,4.951,4.951,0,0,0-2.707-3.014,4.9,4.9,0,0,0-2.089-.447q-4.115-.007-8.231,0c-.032,0-.065,0-.094,0l3.064,3.06-.963.962-4.69-4.694,4.71-4.711.925.925-3.1,3.1h.24q4.005,0,8.01,0a6.442,6.442,0,0,1,3.671,1.067,6.311,6.311,0,0,1,2.422,3,5.989,5.989,0,0,1,.417,1.86.716.716,0,0,0,.025.114Z" transform="translate(-105.221 -13.137)" fill="#ff6767" stroke="#ff6767" stroke-width="0.3"/>
                                                                            </svg> Reply
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Single Review -->
                                                        </div>
                                                        <!-- End Sherah Review -->

                                                        <!-- Sherah Comment -->
                                                        <div class="sherah-review-comment mg-top-30">
                                                            <h3 class="sherah-review-comment__title">Add Your Review</h3>
                                                            <form class="sherah-wc__form-main sherah-form-main--v2 p-0" action="#" method="post">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-12">
                                                                        <div class="form-group">
                                                                            <label class="sherah-wc__form-label">First Name *</label>
                                                                            <div class="form-group__input">
                                                                                <input class="sherah-wc__form-input" placeholder="Your name here" type="text" name="f_name" required="required">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-12">
                                                                        <div class="form-group">
                                                                            <label class="sherah-wc__form-label">Email Address*</label>
                                                                            <div class="form-group__input">
                                                                                <input class="sherah-wc__form-input" placeholder="Your email address here" type="text" name="e_address" required="required">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label class="sherah-wc__form-label">Review*</label>
                                                                            <div class="form-group__input">
                                                                                <textarea class="sherah-wc__form-input sherah-wc__form-input--big" placeholder="Write your text" type="text" name="d_area" required="required"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group mg-top-30">
                                                                    <button type="submit" class="sherah-btn sherah-btn__primary">Submit Now</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <!-- End Sherah Comment -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
								<!-- End Dashboard Inner -->
							</div>
						</div>
					</div>	
				</div>	
</section>	
<!-- End sherah Dashboard -->