@model WarehouseWebMVC.Models.DTOs.ProductDTO
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div style="margin-left: 300px;">
    <form method="post" asp-controller="Product" asp-action="TestAdd">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name" for="name">Name</label>
                <input input asp-for="Name" type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Description" for="Description">Description</label>
                <input input asp-for="Description" type="text" class="form-control" id="Description" placeholder="Description">
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" for="Description">Price</label>
            <input input asp-for="Price" type="number" step="0.01" class="form-control" id="Price" placeholder="Price">
        </div>
        <div class="form-group">
            <label asp-for="Category.CategoryId" for="CategoryId">CategoryId</label>
            <input input asp-for="CategoryId" type="number" class="form-control" id="CategoryId" placeholder="CategoryId">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="SupplierId" for="SupplierId">SupplierId</label>
                <input input asp-for="SupplierId" type="number" class="form-control" id="SupplierId" placeholder="SupplierId">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="BrandId" for="BrandId">BrandId</label>
                <input input asp-for="BrandId" type="number" class="form-control" id="BrandId" placeholder="BrandId">
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Unit" for="Unit">Unit</label>
            <input input asp-for="Unit" type="text" class="form-control" id="Unit" placeholder="Unit">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>