@{
    ViewData["Title"] = "Supplier Information";
}


<!-- sherah Dashboard -->
<section class="sherah-adashboard sherah-show">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sherah-body">
                    <!-- Dashboard Inner -->
                    <div class="sherah-dsinner">

                        <div class="row mg-top-30">
                            <div class="col-12 sherah-flex-between">
                                <!-- Sherah Breadcrumb -->
                                <div class="sherah-breadcrumb">
                                    <h2 class="sherah-breadcrumb__title">Suppliers</h2>
                                    <ul class="sherah-breadcrumb__list">
                                        <li><a href="/Dashboard/Dashboard">Home</a></li>
                                        <li><a href="/Supplier/SupplierList">Suppliers</a></li>
                                        <li class="active"><a href="#!">Supplier Profile</a></li>
                                    </ul>
                                </div>
                                <!-- End Sherah Breadcrumb -->
                            </div>
                        </div>

                        <div class="sharah-profile--main sherah-default-bg sharah-border mg-top-40">
                            <div class="col-12">
                                <!-- Profile Info -->
                                <div class="sherah-profile-info">
                                    <div class="sherah-profile-info__thumb">
                                        <img src="img/profile.png" alt="#">
                                        <h3 class="sherah-profile-info__name">Supplier A<span>supplierA@gmail.com</span></h3>
                                    </div>
                                </div>
                                <!-- End Profile Info -->
                            </div>

                            <!-- Profile Inner Section -->
                            <div class="sherah-upinner">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Profile Overview -->
                                        <div class="sherah-upcontent mg-top-30">
                                            <!-- Tab List -->
                                            <div class="sherah-pcats__bar">
                                                <div class="sherah-pcats__list list-group " id="list-tab" role="tablist">
                                                    <a class="list-group-item active" data-bs-toggle="list" href="#tab_1" role="tab" href="profile.html">About</a>
                                                    <a class="list-group-item" data-bs-toggle="list" href="#tab_4" role="tab">Edit Profile</a>
                                                </div>
                                            </div>

                                            <div class="tab-content" id="nav-tabContent">

                                                <div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="nav-home-tab">
                                                    <div class="sherah-upcontent__text sherah-border">

                                                        <!-- Profile Info -->
                                                        <div class="sharah-profile__about">
                                                            <h3 class="sharah-profile__title mg-btm-10">Biodata</h3>
                                                            <p class="sharah-profile__text">
                                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero asperiores sunt neque exercitationem, illum tempora possimus unde veniam aliquid harum natus. Deserunt quidem exercitationem nihil, molestias magnam repudiandae recusandae earum.
                                                                Vitae modi reiciendis quia, amet fugit mollitia aperiam doloribus, vero ex nisi tenetur debitis quis perspiciatis animi aliquid exercitationem rerum voluptatibus molestias optio quaerat suscipit non? Ab debitis optio beatae.
                                                                Recusandae modi delectus magnam temporibus nemo saepe quasi. Voluptate ad, fuga assumenda totam tempora consequuntur quo facere modi eos corporis, maxime voluptas esse nam rem dolores? Debitis fugit voluptas amet!
                                                                Fuga voluptatibus tempora molestias voluptas! Doloremque consequatur culpa, laboriosam fugit aut libero id soluta atque perferendis aliquam, cum quos recusandae dolorem ipsum eligendi debitis maiores repellat? Quasi quis velit dolore!
                                                                Deserunt rem ex eos soluta quod! Doloremque nam autem voluptatem? Reiciendis eum cupiditate saepe culpa, alias, facilis magni vitae tempora, doloremque debitis id delectus! Consequuntur dolore veniam quisquam ab voluptate.
                                                            </p>
                                                            <div class="sharah-profile__meta mg-top-40">
                                                                <h4>GDUPA</h4>
                                                                <p class="mg-top-10"><a href="#" class="sherah-color1">gdupa@gmail.com</a></p>
                                                                <p class="sharah-profile__id mg-top-30">1900-2024</p>
                                                            </div>
                                                        </div>
                                                        <div class="sherah-border-btm mg-top-30"></div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-12 mg-top-30">
                                                                <h4 class="sherah-info-title mg-btm-20">Contact</h4>
                                                                <ul class="sherah-contact-info">
                                                                    <li class="sherah-border"><span class="sherah-color1__bg--offset"><i class="fa-solid fa-location-dot"></i></span>14/3 Road Brown Tower New York</li>
                                                                    <li class="sherah-border"><span class="sherah-color1__bg--offset"><i class="fa-solid fa-envelope"></i></span>Email : name@yourmail.com</li>
                                                                    <li class="sherah-border"><span class="sherah-color1__bg--offset"><i class="fa-solid fa-phone"></i></span>Phone : +22 (5) 789 0001</li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-12 mg-top-30">
                                                                <h4 class="sherah-info-title mg-btm-20">Social</h4>
                                                                <ul class="sherah-contact-info sherah-contact-social">
                                                                    <li class="sherah-border"><a href="#"><span class="sherah-color1__bg--offset"><i class="fa-brands fa-facebook-f"></i></span>Facebook</a></li>
                                                                    <li class="sherah-border"><a href="#"><span class="sherah-color1__bg--offset"><i class="fa-brands fa-twitter"></i></span>Twitter</a></li>
                                                                    <li class="sherah-border"><a href="#"><span class="sherah-color1__bg--offset"><i class="fa-brands fa-linkedin"></i></span>Linkedin</a></li>
                                                                    <li class="sherah-border"><a href="#"><span class="sherah-color1__bg--offset"><i class="fa-brands fa-dribbble"></i></span>Dribbble</a></li>
                                                                    <li class="sherah-border"><a href="#"><span class="sherah-color1__bg--offset"><i class="fa-brands fa-behance"></i></span>Behance</a></li>
                                                                    <li class="sherah-border"><a href="#"><span class="sherah-color1__bg--offset"><i class="fa-brands fa-youtube"></i></span>Youtube</a></li>
                                                                    <li class="sherah-border"><a href="#"><span class="sherah-color1__bg--offset"><i class="fa-brands fa-instagram"></i></span>Instagram</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab_4" role="tabpanel" aria-labelledby="nav-home-tab">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <!-- Sign in Form -->
                                                            <form class="sherah-wc__form-main sherah-wc__form-profile sherah-form-main--v2 p-0" action="#" method="post">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-12">
                                                                        <div class="form-group">
                                                                            <label class="sherah-wc__form-label">First Name *</label>
                                                                            <div class="form-group__input">
                                                                                <input class="sherah-wc__form-input" placeholder="Abubokkor" type="text" name="f_name" required="required">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-12">
                                                                        <div class="form-group">
                                                                            <label class="sherah-wc__form-label">Last Name *</label>
                                                                            <div class="form-group__input">
                                                                                <input class="sherah-wc__form-input" placeholder="Siddik" type="text" name="l_name" required="required">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-12">
                                                                        <div class="form-group">
                                                                            <label class="sherah-wc__form-label">Phone Number *</label>
                                                                            <div class="form-group__input form-group__input--select">
                                                                                <button class="flag-label dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                                    <img src="img/flag-bd.png">+880
                                                                                </button>
                                                                                <ul class="dropdown-menu">
                                                                                    <li><a class="dropdown-item" href="#">+550</a></li>
                                                                                    <li><a class="dropdown-item" href="#">+990</a></li>
                                                                                    <li><a class="dropdown-item" href="#">+660</a></li>
                                                                                </ul>
                                                                                <input class="sherah-wc__form-input" placeholder="140 8317 189" type="text" name="f_number" required="required">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-12">
                                                                        <div class="form-group">
                                                                            <label class="sherah-wc__form-label">Join Date* </label>
                                                                            <div class="form-group__input">
                                                                                <input class="sherah-wc__form-input" placeholder="Oct 14 2022" type="text" name="j_date" required="required">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label class="sherah-wc__form-label">Email Address*</label>
                                                                            <div class="form-group__input">
                                                                                <input class="sherah-wc__form-input" placeholder="infosherah@gmail.com" type="text" name="e_address" required="required">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label class="sherah-wc__form-label">Website*</label>
                                                                            <div class="form-group__input">
                                                                                <input class="sherah-wc__form-input" placeholder="www.sherah.com" type="text" name="w_address" required="required">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-md-4 col-12">
                                                                        <div class="form-group">
                                                                            <label class="sherah-wc__form-label">Country*</label>
                                                                            <select class="form-group__input" aria-label="Default select example">
                                                                                <option selected>Bangladesh</option>
                                                                                <option value="1">India</option>
                                                                                <option value="2">China</option>
                                                                                <option value="3">United States</option>
                                                                                <option value="4">United Kingdom</option>
                                                                                <option value="5">Saudi Arabia</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-md-4 col-12">
                                                                        <div class="form-group">
                                                                            <label class="sherah-wc__form-label">City/Town*</label>
                                                                            <div class="form-group__input">
                                                                                <input class="sherah-wc__form-input" placeholder="Dhaka" type="text" name="d_address" required="required">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-md-4 col-12">
                                                                        <div class="form-group">
                                                                            <label class="sherah-wc__form-label">Zip code*</label>
                                                                            <div class="form-group__input">
                                                                                <input class="sherah-wc__form-input" placeholder="1216" type="text" name="z_code" required="required">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label class="sherah-wc__form-label">About Description*</label>
                                                                            <div class="form-group__input">
                                                                                <textarea class="sherah-wc__form-input" placeholder="About description write here" type="text" name="d_area" required="required"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group mg-top-30 sherah-dflex sherah-dflex-gap-30 justify-content-end">
                                                                    <button type="submit" class="sherah-btn sherah-btn__primary">Save</button>
                                                                    <button type="submit" class="sherah-btn sherah-btn__third">Cancel</button>
                                                                </div>
                                                            </form>
                                                            <!-- End Sign in Form -->
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End Profile Overview -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Profile Inner Section -->
                        </div>
                    </div>
                    <!-- End Dashboard Inner -->
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End sherah Dashboard -->